.standardBtn
{
    -fx-background-color: #00bcd4;
}
.roundBtn
{
    -fx-background-color:  #00bcd4;
    -fx-background-radius: 50;
    -fx-min-width: 40;
    -fx-min-height: 40;   
}

.comboBox
{
    -fx-background-color:  #00bcd4;
}